.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: solid rgb(224, 224, 224, 0.5);
  border-radius: 1rem;
}

.main-logo {
  height: auto;
  width: 25rem;
}

.Links {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  align-items: center;
}

.MainGallery-button,
.MyGallery-button {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

.MainGallery-button:hover,
.MyGallery-button:hover {
  transform: scale(1.05);
}

.big-slash {
  font-size: 3rem;
  font-weight: 70;
  color: rgb(163, 163, 163);
}