.favorite-art-card {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-content: center;
    align-items: center;
    border: .175rem solid rgb(228, 228, 228);
    justify-content: center;
    margin: .75rem;
    padding: .75rem;
}

.favorite-art-card:hover {
    box-shadow: 3px 3px 5px rgb(200, 200, 200);
}

.favorite-art-card img {
    width: 50%;
    height: auto;
    padding: .3rem;
    transition: transform 0.5s ease;
}