.favorite-art-card {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-content: center;
    align-items: center;
    border: .175rem solid rgb(228, 228, 228);
    justify-content: center;
    margin: .75rem;
    padding: .75rem;
}

.favorite-art-card:hover {
    box-shadow: 3px 3px 5px rgb(200, 200, 200);
}

.favorite-art-card img {
    width: 50%;
    height: auto;
    padding: .3rem;
    transition: transform 0.5s ease;
}

.delete-button {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    margin-right:2rem;
    width: 22rem;
    height: 2rem;
    font-size: 3rem;
    transition: transform 0.5s ease;
    color: rgb(253, 38, 38);
    z-index: 10;
    border:none;
    background: none;
    cursor: pointer;
}


.delete-button:hover {
    transform: scale(1.3);
}

.delete-button:hover::after {
    content: 'Remove Piece';
    font-size: .8rem;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    position: absolute;
    top: 40%;
    right: 1.5rem;
    z-index: 2;
}