.favorite-art-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 40vh;
    max-width: 25vw;
    max-height: 40vh;
    border: 2px solid rgb(228, 228, 228);
    margin: 10px;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-wrap: wrap;

    h3 {
        font-size: 1.85rem;
    }
}

.favorite-art-card:hover {
    box-shadow: 3px 3px 5px rgb(200, 200, 200);
}

.favorite-art-card img {
    max-width: 20vw;
    max-height: 27vh;
    padding: .3rem;
    transition: transform 0.5s ease;
}

.delete-button {
    position: absolute;
    bottom: 1.75rem;
    right: 1.9rem;
    border: none;
    width: 2rem;
    height: 3.5rem;
    font-size: 5rem;
    transition: transform 0.5s ease;
    background-color: rgba(241, 241, 241, 0.1);
    color: rgb(253, 38, 38);
    z-index: 10;
    cursor: pointer;
}


.delete-button:hover {
    transform: scale(1.3);
}

.delete-button:hover::after {
    content: 'Remove Piece';
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    position: absolute;
    top: 40%;
    right: 1.5rem;
    z-index: 2;
}