.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    color: #fff;
    padding: 1rem;
}

.created-by {
    font-size: 1.5rem;
}

.name {
    font-size: 1rem;
    padding: 0.5rem;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.person img {
    width: 2rem;
    height: auto;
    background-color: #fff;
    border-radius: 100%;
}

.separator {
    border-left: 1px solid #fff;
    height: 12rem;
}

.github-link,
.linkedin-link {
    transition: 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.7rem;
}

.github-link:hover,
.linkedin-link:hover {
    color: red;
    transform: scale(1.3);
}