.mainPageWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-image: './Assets/sampleVideo.mp4';
    width: 100%;
    height: 75vh;
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    overflow: hidden;
    position: relative;
}

#backgroundVideo {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

.contentWrapper {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 60vw;
    height: auto;
    text-align: center;
    z-index: 1;
    color: white;
    align-items: center;
    justify-items: center;
    align-content: center;

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 30px;
    }
}