.main-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.MainGallery-Title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98.9vw;
    height: 100%;
    max-height: 100%;
    min-height: 600px;
}

.loadingText {
    font-size: 2.5rem;
    margin: auto;
}

.error-message {
    font-size: 2rem;
}

.errorWrapper img {
        width: 50%;
        height: 40%;
}

.loadingText span {
    margin: 0 -0.03em;
    animation: loading 1.2s infinite alternate;
}

.loadingText span:nth-child(1){
    animation-delay: 0.1s;
}

.loadingText span:nth-child(2){
    animation-delay: 0.12s;
}

.loadingText span:nth-child(3){
    animation-delay: 0.13s;
}

.loadingText span:nth-child(4){
    animation-delay: 0.20s;
}

.loadingText span:nth-child(5){
    animation-delay: 0.21s;
}
.loadingText span:nth-child(6){
    animation-delay: 0.22s;
}
.loadingText span:nth-child(7){
    animation-delay: 0.23s;
}
.loadingText span:nth-child(8){
    animation-delay: 0.24s;
}
.loadingText span:nth-child(9){
    animation-delay: .25s;
}
.loadingText span:nth-child(10){
    animation-delay: .26s;
}
.loadingText span:nth-child(11){
    animation-delay: .30s;
}
.loadingText span:nth-child(12){
    animation-delay: .31s;
}
.loadingText span:nth-child(13){
    animation-delay: .32s;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}