.main-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.MainGallery-Title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loadingText {
    font-size: 50px;
}


    
    


