

.my-gallery {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
    min-height: 31.25rem;
}

.navWrap {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
}

p {
    margin: 1rem;
}

.backToMain {
    width: 20rem;
    height: 2.5rem;
    background-color: black;
    border-radius: 2.5rem;
}

.mainGalleryLink {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.MyGallery-Title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}