.my-gallery {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
}

.favoriteCard-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.navWrap {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
}

p {
    margin: 1rem;
    font-size: 40px;
    margin-bottom: 5rem;
}

.backToMain {
    width: 30rem;
    height: 3.5rem;
    background-color: black;
    border-radius: 2.5rem;
    padding: 5px;
}

.mainGalleryLink {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.MyGallery-Title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
}